@charset "UTF-8";

html {
  font-size: 15px;
}

body {
  font-size: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: #555;
}

/* for global nav's link menu */
#parent-link-list {
  display: flex;
  flex-direction: row;
}

#parent-link-list>li>a {
  display: block;
  height: 100%;
  color: #fff;
  background-color: #555;
}

#parent-link-list>li>ul a {
  display: block;
  padding: .25rem 1rem;
  background-color: #aaa;
}
#parent-link-list a {
  transition: .5s;
}
#parent-link-list>li>a:hover {
  background-color: #999;
}
#parent-link-list a:hover {
  opacity: .7;
}

#parent-link-list ul {
  display: none;
}
#parent-link-list ul li {
  opacity: 0;
}

#parent-link-list ul.active {
  display:block;
}
#parent-link-list ul.active li {
  opacity: .8;
  transition: 1s;
}

@media screen and (max-width:480px) {
  /* ハンバーガーメニューボタン */
  #menu-button {
    display: block;

    position: fixed;
    top: 1rem;
    right: 1rem;

    width: 3rem;
    height: 3rem;
    background-color: rgb(0, 60, 40);
    border-radius: .5rem;
    /* 背景の角丸を丸形に変形させとときにスムーズに見せたための時間差設定。 */
    transition: 0.8s;
    z-index: 100;
  }

  .menu-button div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
    height: 2px;
    background-color: #eee;
    /* 注目1『opacityの効果を0.3秒後に発生させる』命令を
      発生側ではなく、元側に記述する。 */
    transition: .3s;
  }

  .menu-button.active {
    transform: rotate(-180deg);
  }

  .menu-button div:nth-of-type(1) {
    top: 30%;
  }

  .menu-button.active div:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: top left;
    top: 22%;
    left: 28%;
  }

  /* ハンバーガーメニューの真ん中の線を消して、背景を丸形に変形させる。 */
  .menu-button.active div:nth-of-type(2) {
    /* 注目1 発生側 */
    opacity: 0;
  }

  #menu-button.active {
    border-radius: 50%;
  }

  .menu-button div:nth-of-type(3) {
    top: 70%;
  }

  .menu-button.active div:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: bottom left;
    bottom: 8%;
    left: 28%;
  }
  
  /* リンクのメニュー */
  #links-menu {
    position: fixed;
    top: 0;
    left: -100%;
  
    width: 12rem;
    max-height: 100vh;
    padding: 2rem 0 2rem;
    background-color: #555;
    overflow: auto;
    opacity: 0;
    transition: 0.5s;
    z-index: 99;
  }

  #links-menu.active {
    left: 0;
    opacity: 1;
  }

  #parent-link-list {
    display: flex;
    flex-direction: column;
  }

  #parent-link-list>li>a {
    padding: 1rem 2rem;
  }
  #parent-link-list li:not(:first-of-type) {
    border-top: 1px solid #ddd;
  }
}

@media screen and (min-width: 481px) {
  header {
    display: flex;
    justify-content:space-between;
    align-items: center;

    position: relative;
    
    padding: 0 2rem;
    height: 3rem;
    background-color: #555;
  }

  #links-menu {
    position: absolute;
    top: 0;
    right: 0;
  }

  #parent-link-list {
    height: 3rem;
  }

  #parent-link-list>li>a {
    padding: .8rem 1rem 0;
  }
}

main {
  width: 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  background-color: #eee;

}

.logo {
  font-weight: 900;
  color: #fff;
}
