@charset "UTF-8";

html {
  font-size: 15px;
}

body {
  font-size: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: #555;
}

/* header {
  padding: 0 2rem;
  color: #fff;
  background-color: #333;
} */

#menuButton {
  display: block;

  position: fixed;
  top: 1rem;
  right: 1rem;

  width: 3rem;
  height: 3rem;
  background-color: rgb(0, 60, 40);
  border-radius: .5rem;
}

.menuButton div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 70%;
  height: 2px;
  background-color: #eee;
  /* 注目1『opacityの効果を0.3秒後に発生させる』命令を
      発生側ではなく、元側に記述する。 */
  transition: .3s;
}

.menuButton div:nth-of-type(1) {
  top: 30%;
}
.menuButton.active div:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: top left;
  top: 25%;
  left: 27.5%;
}

.menuButton.active div:nth-of-type(2) {
  /* 注目1 発生側 */
  opacity: 0;
}

.menuButton div:nth-of-type(3) {
  top: 70%;
}
.menuButton.active div:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: bottom left;
  bottom: 25%;
  left: 27.5%;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  background-color: rgb(155, 245, 215);
  /* 透明にして隠しても、要素の存在はあるからクリックできる。
     回避するために『visibility: hidden』は必須。 */
  opacity: 0;
  visibility: hidden;
  transition: 0.5s; 
}
#menu.active {
  /* left: 0; */
  opacity: 1;
  visibility: visible;
}

#menu li:not(:first-of-type) {
  margin-top: 1rem;
}
/* 別の記述方法 */
/* #menu li + li {
  margin-top: 1rem;
} */

/* main {
  margin: 0 auto;
  padding: 1rem;
  background-color: #eee;
} */

