@charset "utf-8";

/* .container {
  position: relative;
  width: 100%;
  height: 100vh;
} */

/* センターセンターのやりかた　221118時点で最初に思いついたやり方。 */
/* #switchClasses {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 30%;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  background-color: aquamarine;
  border-radius: 3px;
} */

/* justify-content: center; => 左右センター */
/* align-items: center; 　　=>上下センター */

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80vh;
}

/* li {
  width: 200px;
  padding: 5px 0;
  text-align: center;
  background-color: antiquewhite;
  border-radius: 3px;
}
li:not(:first-of-type) {
  margin-top: 10px;
} */

#test {
  font-size: 200px;
  font-family: 'Yuji Boku', serif;
  color: darkgreen;
}