@charset "UTF-8";

html {
  font-size: 15px;
}

body {
  height: 20vh;
  font-size: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: #555;
  background-color: #eee;
}

.swiper-slide {
  /*  JSで分割数を指定している関係で、
      高さを設定したよ横幅は成り行きできまるようだ。 */
  height: 50vh;
  /* object-fitでは意図した画像配置にならない。 */
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}

/* この記述ではループが上手くできないらしい。 */
/* .swiper-slide:nth-of-type(1) { background-image: url(../img/bird-01.jpeg); } */

.swiper-slide.slide1 {
  background-image: url(../img/bird-01.jpeg);
}

.swiper-slide.slide2 {
  background-image: url(../img/bird-02.jpeg);
}

.swiper-slide.slide3 {
  background-image: url(../img/bird-03.jpeg);
}

.swiper-slide.slide4 {
  background-image: url(../img/bird-04.jpeg);
}

.swiper-slide.slide5 {
  background-image: url(../img/bird-05.jpeg);
}

.swiper-slide.slide6 {
  background-image: url(../img/bird-06.jpeg);
}