@charset "UTF-8";

html { 
  font-size: 15px;
}

body {
  font-size: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: #555;
}

.swiper-slide {
  height: 600px;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}

.swiper-slide.slide1 {
  background-image: url(../img/bird-01.jpeg);
}

.swiper-slide.slide2 {
  background-image: url(../img/bird-02.jpeg);
}

.swiper-slide.slide3 {
  background-image: url(../img/bird-03.jpeg);
}

.swiper-slide.slide4 {
  background-image: url(../img/bird-04.jpeg);
}

.swiper-slide.slide5 {
  background-image: url(../img/bird-05.jpeg);
}

.swiper-slide.slide6 {
  background-image: url(../img/bird-06.jpeg);
} 